<div ng-app="app" ng-controller="MaquinasController as aCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <ol class="breadcrumb pull-right">
                    <li><a href="/#/blsp/dashboard">Home</a></li>
                    <li class="active">Maquinas</li>
                </ol>
                <h1 class="page-header">Maquinas <small></small></h1>
            </div>
            <div class="col-sm-12 col-md-12">
                <div ng-model="successMessage" class="alert alert-success" role="alert" ng-show="successMessage">{{ successMessage }}</div>
                <div ng-model="errorMessage" class="alert alert-danger" role="alert" ng-show="errorMessage">{{ errorMessage }}</div>
            </div>
            <div class="col-sm-12 col-md-8">
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <h4 class="panel-title">Listado de Maquinas</h4>
                    </div>
                    <table class="table table-bordered dataTable" datatable="ng" dt-instance="dtInstance" dt-options="dtOptions">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Area</th>
                                <th>Origenes Scrap</th>
                                <th>Tipos de Material</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="maquina in Maquinas | filter:'!'+'maquina sin asignar' | orderBy:sortUser:sortReverse">
                                <td class="capitalize"><a href="/#/blsp/maquinas/crud/{{maquina.IDMaq}}" class="title"><strong>{{maquina.Descripcion | capitalize}}</strong></a></td>
                                <td>{{maquina.PSSAreas.Descripcion | capitalize}}</td>
                                <td class="capitalize">
                                <li class="listaTabla" ng-repeat="item in maquina.PSSOrigenesScrap | filter:{Habilitado:true}">
                                 {{item.Descripcion | capitalize}}
                                </li>
                                </td>
                                <td class="capitalize">
                                <li class="listaTabla" ng-repeat="item in maquina.PSSTiposMaterial | filter:{Habilitado:true}">
                                {{item.Descripcion | capitalize}}
                                </li>
                                </td>

                            </tr>
                        </tbody>
                    </table>                    </div>
            </div>
            <div class="col-sm-12 col-md-4">

                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <h4 class="panel-title">Acciones</h4>
                    </div>
                    <div class="panel-body">
                        <a class="btn btn-block btn-primary" ui-sref="blsp.maquinas.crud">Nueva Maquina</a>
                    </div>
                </div>

                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <h4 class="panel-title">Buscar</h4>
                    </div>
                    <div class="panel-body">
                        <md-input-container md-no-float class="md-block md-no-error search">
                            <label>Buscar Maquina</label>
                            <input type="text" ng-model="searchQuery" ng-change="doSearch()">
                        </md-input-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
