<div ng-app="app" ng-controller="ResetPasswordController">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <ol class="breadcrumb pull-right">
                    <li><a href="/#/cms/dashboard">Home</a></li>
                    <li><a ui-sref="blsp.profile.edit">Profile</a></li>
                    <li class="active">Reset Password</li>
                </ol>
                <h1 class="page-header">Reset Password <small></small></h1>
            </div>
            <div class="col-sm-12 col-md-12">
                <div ng-model="successMessage" class="alert alert-success" role="alert" ng-show="successMessage">{{ successMessage }}</div>
                <div ng-model="errorMessage" class="alert alert-danger" role="alert" ng-show="errorMessage">{{ errorMessage }}</div>
            </div>
            <form ng-submit="resetForm.$valid && processForm()" name="resetForm" novalidate>
                <div class="col-sm-12 col-md-8">
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h4 class="panel-title">Reset Password</h4>
                        </div>
                        <md-content layout-padding>

                            <div layout-gt-xs="row">
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Current Password</label>
                                    <input type="password" ng-model="profileData.OldPassword" name="OldPassword" required ng-minlength="8" ng-maxlength="12">
                                    <div ng-messages="resetForm.OldPassword.$error">
                                        <div ng-messages-include="pages/validation/old-password.html"></div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>&nbsp;</label>
                                </md-input-container>
                            </div>

                            <div layout-gt-xs="row">
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>New Password</label>
                                    <input type="password" ng-model="profileData.NewPassword" name="NewPassword" required ng-minlength="8" ng-maxlength="12">
                                    <div class="hint" ng-if="showHints">Password must include at least 1 capital letter, 1 lower case letter, 1 number and 1 special characters.<br />
                                    Password must be 8-12 characters long.</div>
                                    <div ng-messages="resetForm.NewPassword.$error">
                                        <div ng-messages-include="pages/validation/new-password.html"></div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Confirm New Password</label>
                                    <input type="password" ng-model="profileData.ConfirmPassword" name="ConfirmPassword" ng-pattern="profileData.NewPassword" required ng-minlength="8" ng-maxlength="12">
                                    <div ng-messages="resetForm.ConfirmPassword.$error">
                                        <div ng-messages-include="pages/validation/confirm-password.html"></div>
                                    </div>
                                </md-input-container>
                            </div>
                        </md-content>
                    </div>
                </div>
        
                <div class="col-sm-12 col-md-4">
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h4 class="panel-title">Actions</h4>
                        </div>
                        <div class="panel-body">
                            <button type="submit" class="btn btn-block btn-primary">Update Password</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
