<div ng-app="app" ng-controller="CashRegisterCRUDController">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <ol class="breadcrumb pull-right">
                    <li><a href="/#/cms/dashboard">Home</a></li>
                    <li><a ui-sref="blsp.clients.list">Caja</a></li>
                    <li class="active">{{PageTitle}}</li>
                </ol>
                <h1 class="page-header">{{PageTitle}}<small></small></h1>
            </div>
            <div class="col-sm-12 col-md-12">
                <div ng-model="successMessage" class="alert alert-success" role="alert" ng-show="successMessage">{{ successMessage }}</div>
                <div ng-model="errorMessage" class="alert alert-danger" role="alert" ng-show="errorMessage">{{ errorMessage }}</div>
            </div>
            <form ng-submit="recordDataForm.$valid && processForm()" class="form-horizontal" role="form" name="editAuthorForm" novalidate>
                <div class="col-sm-12 col-md-8">
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h4 class="panel-title">Información del movimiento</h4>
                        </div>
                        <md-content layout-padding>
                            <div layout-gt-xs="row">
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Operación</label>
                                    <md-select ng-model="recordData.Type" name="Type" required>
                                        <md-option ng-repeat="type in PaymentTypes" ng-value="type.value">
                                            {{type.name}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="recordDataForm.Type.$error">
                                        <div ng-messages-include="pages/validation/text.html"></div>
                                    </div>
                                </md-input-container>
                            </div>
                    
                            <div layout-gt-xs="row">
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Nombre</label>
                                    <input type="text" ng-model="clientData.FirstName" name="FirstName" required />
                                    <div ng-messages="editAuthorForm.FirstName.$error">
                                        <div ng-messages-include="pages/validation/text.html"></div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Apellido</label>
                                    <input type="text" ng-model="clientData.LastName" name="LastName" required />
                                    <div ng-messages="editAuthorForm.LastName.$error">
                                        <div ng-messages-include="pages/validation/text.html"></div>
                                    </div>
                                </md-input-container>
                            </div>
                        </md-content>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h4 class="panel-title">Acciones</h4>
                        </div>
                        <div class="panel-body">
                            <button class="btn btn-block btn-primary" type="submit">{{SubmitButton}}</button>
                            <button class="btn btn-block btn-danger" type="button" ng-click="deleteAuthor($event, clientData.Id);" ng-show="clientData.Id">Borrar Cliente</button>
                            <a class="btn btn-block btn-default" ui-sref="blsp.clients.list">Volver</a>
                        </div>
                    </div>

                    <pre>{{recordData | json}}</pre>
                </div>
            </form>
        </div>   
    </div>
</div>
