<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-4 p-0">
            <div class="main-panel">
                <div class="flex-center">

                    <h2 class="logo">RAY</h2>
        
                    <div class="holder">
                        <div class="holder-heading">
                            <h3 class="panel-title">Register User</h3>
                            <h5 class="info">
                            Congratulations, your account has been activated!<br /><br />
                            Click <a href="/Login/LogOn">here</a> to access the site.
                            </h5>
                        </div>
                        <a href="/Login/LogOn" class="btn btn-primary btn-back"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-8 p-0">
            <div class="background">

            </div>
        </div>
    </div>
</div>