<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-4 p-0">
            <div class="main-panel">
                <div class="flex-center">

                    <h2 class="logo">RAY</h2>

                    <div class="holder">
                        <div class="holder-heading">
                            <h3 class="panel-title">Forgot password?</h3>
                            <h5 class="info">Enter your email and you will receive instructions to reset your password after you submit this form.</h5>
                        </div>
                        <div class="holder-body">
                            <div class="form">
                                <form role="form" action="/Login/ForgotPassword" method="post" id="ForgotPassword">
                                    @Html.AntiForgeryToken()
                                    <div class="form-group">
                                        <input id="username" name="username" type="email" class="form-control" required value="">
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label class="control-label" for="username">Email</label>
                                    </div>
                                    <div class="form-group form-button">
                                        <button type="submit" class="btn btn-block btn-primary">Reset password</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <a href="/Login/LogOn" class="btn btn-primary btn-back"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-8 p-0">
            <div class="background">

            </div>
        </div>
    </div>
</div>
