<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-4 p-0">
            <div class="main-panel">
                <div class="flex-center">

                    <h2 class="logo">RAY</h2>
        
                    <div class="holder">
                        <div class="holder-heading">
                            <h3 class="panel-title">Reset password</h3>
                            <h5 class="info">
                            Check your email.<br /><br />
                            If this is a valid account, you will receive an email with a link to reset your password.<br /><br />
                            For security reasons, the link will only be valid for 24 hours.<br /><br />
                            If you don't see the email within the next 10 minutes, check your spam folder first, then try to resubmit your request.
                            </h5>
                        </div>
                        <a href="/Login/LogOn" class="btn btn-primary btn-back"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-8 p-0">
            <div class="background">

            </div>
        </div>
    </div>
</div>