<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Documento sin título</title>
</head>

<body bgcolor="#363843">
    <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
            	<td height="0">&nbsp;</td>
            </tr>
            <tr>
            	<td><img src="http://teletica.com/images/default/header/logo-teletica.png" alt="Teletica"></td>
            </tr>
            <tr>
            	<td height="10">&nbsp;</td>
            </tr>
            <tr>
            	<td height="5" bgcolor="#0172ee"><p style="margin: 0; padding: 0;font-size: 5px;line-height: 5px;">&nbsp;</p></td>
            </tr>
            <tr>
            <td>
            	<table bgcolor="#ffffff" width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td width="20">&nbsp;</td>
                      <td width="560">
                      	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td height="30" bgcolor="#FFFFFF">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center" bgcolor="#FFFFFF">
                                    <h3 style="margin: 0;padding:0;font-family: 'Roboto', Helvetica, Arial, sans-serif;font-weight: 100;font-size: 24px; color: #000000;">Password recovery</h3>
                                </td>
                            </tr>
                            <tr>
                              <td height="30" bgcolor="#FFFFFF">&nbsp;</td>
                            </tr>
                          <tr>
                                <td align="center" bgcolor="#FFFFFF">
                                    <p style="margin: 0;padding:0;font-family: 'Roboto', Helvetica, Arial, sans-serif;font-weight: 100;font-size: 15px; color: #000000;line-height: 130%;">
                                    <strong>Hi Lucas,</strong><br><br>
                                    You’re receiving this email because you requested a password reset.<br>
                                    Click the following link to reset your password:</p>
                                </td>
                          </tr>
                            <tr>
                                <td height="30" bgcolor="#FFFFFF">&nbsp;</td>
                          </tr>
                          <tr>
                                <td bgcolor="#FFFFFF">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                    <tr>
                                    <td width="200">&nbsp;</td>
                                    <td width="200" height="40" align="center" bgcolor="#0172ee">
                                        <a href="a" style="margin: 0;padding:0;font-family: 'Roboto', Helvetica, Arial, sans-serif;font-weight: 100;font-size: 14px; color: #FFFFFF;text-decoration: none;text-align: center;height: 40px;line-height: 40px;">LINK</a>
                                    </td>
                                    <td width="200">&nbsp;</td>
                                    </tr>
                                    </tbody>
                                    </table>
                                </td>
                          </tr>
                            <tr>
                              <td height="30" bgcolor="#FFFFFF">&nbsp;</td>
                          </tr>
                            <tr>
                                <td height="10" bgcolor="#FFFFFF"><hr></td>
                            </tr>
                            <tr>
                                <td height="30" bgcolor="#FFFFFF">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                          <td valign="top">
                                            <p style="margin: 0;padding:0;font-family: 'Roboto', Helvetica, Arial, sans-serif;font-weight: 100;font-size: 13px; color: #999999;">
                                            Ray &copy; 2017 - All rights reserved
                                            </p>
                                          </td>
                                            <td align="right" valign="middle"><img src="http://admin.dev.cms.451.com/images/logo-short.png" alt="Ray" width="45"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                              </td>
                            </tr>
                            <tr>
                              <td height="10" bgcolor="#FFFFFF">&nbsp;</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td width="20">&nbsp;</td>
                    </tr>
                  </tbody>
                </table>
            </td>
            </tr>
            
        </tbody>
    </table>
</body>
</html>
