<div ng-app="app" ng-controller="JobTrackController as aCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <ol class="breadcrumb pull-right">
                    <li><a href="/#/blsp/dashboard">Home</a></li>
                    <li class="active">JobTrack</li>
                </ol>
                <h1 class="page-header">JobTrack<small></small></h1>
            </div>
            <div class="col-sm-12 col-md-12">
                <div ng-model="successMessage" class="alert alert-success" role="alert" ng-show="successMessage">{{ successMessage }}</div>
                <div ng-model="errorMessage" class="alert alert-danger" role="alert" ng-show="errorMessage">{{ errorMessage }}</div>
            </div>
            <div class="col-sm-12 col-md-8">
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <h4 class="panel-title">JobTrack</h4>
                    </div>
                    <table class="table table-bordered dataTable" datatable="ng" dt-instance="dtInstance" dt-options="dtOptions">
                        <thead>
                            <tr>
                                 <th>Descripcion</th>
                                <th>JobTrack</th>
                                <th>PrinterDefault</th>
                                <th>PrinterEtiquetas</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="jobtrack in JobTrack | orderBy:sortUser:sortReverse">
                                <td class="capitalize">
                                <a href="/#/blsp/JobTrack/crud/{{jobtrack.IDJobTrack}}" class="title"><strong>{{jobtrack.Descripcion}}</strong></a>
                                </td>
                                <td>{{jobtrack.JobTrack}}</td>
                                <td>{{jobtrack.PrinterDefault}}</td>
                                <td>{{jobtrack.PrinterEtiquetas}}</td>

                                
                            </tr>
                        </tbody>
                    </table>
               </div>
            </div>
            <div class="col-sm-12 col-md-4">

                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <h4 class="panel-title">Acciones</h4>
                    </div>
                    <div class="panel-body">
                        <a class="btn btn-block btn-primary" ui-sref="blsp.JobTrack.crud">Nuevo JobTrack</a>
                    </div>
                </div>

                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <h4 class="panel-title">Buscar</h4>
                    </div>
                    <div class="panel-body">
                        <md-input-container md-no-float class="md-block md-no-error search">
                            <label>Buscar JobTrack</label>
                            <input type="text" ng-model="searchQuery" ng-change="doSearch()">
                        </md-input-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
