<div ng-app="app" ng-controller="AuthorCRUDController">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <ol class="breadcrumb pull-right">
                    <li><a href="/#/cms/dashboard">Home</a></li>
                    <li><a href="javascript:;">Content</a></li>
                    <li><a ui-sref="blsp.content.authors.list">Authors</a></li>
                    <li class="active">{{PageTitle}}</li>
                </ol>
                <h1 class="page-header">{{PageTitle}}<small></small></h1>
            </div>
            <div class="col-sm-12 col-md-12">
                <div ng-model="successMessage" class="alert alert-success" role="alert" ng-show="successMessage">{{ successMessage }}</div>
                <div ng-model="errorMessage" class="alert alert-danger" role="alert" ng-show="errorMessage">{{ errorMessage }}</div>
            </div>
            <form ng-submit="editAuthorForm.$valid && processForm()" class="form-horizontal" role="form" name="editAuthorForm" novalidate>
                <div class="col-sm-12 col-md-8">
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h4 class="panel-title">Author Information</h4>
                        </div>
                        <md-content layout-padding>
                            <div layout-gt-xs="row">
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Email</label>
                                    <input type="email" ng-model="authorData.Email" name="Email" required />
                                    <div ng-messages="editAuthorForm.Email.$error">
                                        <div ng-messages-include="pages/validation/email.html"></div>
                                    </div>
                                </md-input-container>
                            </div>
                    
                            <div layout-gt-xs="row">
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>First Name</label>
                                    <input type="text" ng-model="authorData.FirstName" name="FirstName" required />
                                    <div ng-messages="editAuthorForm.FirstName.$error">
                                        <div ng-messages-include="pages/validation/text.html"></div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Last Name</label>
                                    <input type="text" ng-model="authorData.LastName" name="LastName" required />
                                    <div ng-messages="editAuthorForm.LastName.$error">
                                        <div ng-messages-include="pages/validation/text.html"></div>
                                    </div>
                                </md-input-container>
                            </div>
                        </md-content>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h4 class="panel-title">Actions</h4>
                        </div>
                        <div class="panel-body">
                            <button class="btn btn-block btn-primary" type="submit">{{SubmitButton}}</button>
                            <button class="btn btn-block btn-danger" type="button" ng-click="deleteAuthor($event, authorData.Id);" ng-show="authorData.Id">Delete Author</button>
                            <a class="btn btn-block btn-default" ui-sref="blsp.content.authors.list">Back to Authors</a>
                        </div>
                    </div>

                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h4 class="panel-title">Author Image</h4>
                        </div>
                        <div class="panel-body">
                            <div class="img-holder">
                                <img src="{{authorImage}}" alt="Featured Image" class="img-responsive img-preview" />
                            </div>
                            <a ng-click="ChooseFile()" class="btn btn-sm btn-block btn-primary">Change author image</a>
                        </div>
                    </div>

                    <!--<pre>{{authorData | json}}</pre>-->
                </div>
            </form>
        </div>   
    </div>
</div>
