<div ng-app="app" ng-controller="OperadoresCRUDController">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <ol class="breadcrumb pull-right">
                    <li><a href="/#/blsp/dashboard">Home</a></li>
                    <li><a ui-sref="blsp.clients.list">Operadores</a></li>
                    <li class="active">{{PageTitle}}</li>
                </ol>
                <h1 class="page-header">{{PageTitle}}<small></small></h1>
            </div>
            <div class="col-sm-12 col-md-12">
                <div ng-model="successMessage" class="alert alert-success" role="alert" ng-show="successMessage">{{ successMessage }}</div>
                <div ng-model="errorMessage" class="alert alert-danger" role="alert" ng-show="errorMessage">{{ errorMessage }}</div>
            </div>
            <form ng-submit="editAuthorForm.$valid && processForm()" class="form-horizontal" role="form" name="editAuthorForm" novalidate>
                <div class="col-sm-12 col-md-8">
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h4 class="panel-title">Información del Operador</h4>
                        </div>
                        <md-content layout-padding>
                         
                    
                            <div layout-gt-xs="row">
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Nombre</label>
                                    <input type="text" ng-model="operadorData.Nombre" name="Nombre" required />
                                    <div ng-messages="editAuthorForm.FirstName.$error">
                                        <div ng-messages-include="pages/validation/text.html"></div>
                                    </div>
                                </md-input-container>
                             

                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Apellido</label>
                                    <input type="text" ng-model="operadorData.Apellido" name="Apellido" required />
                                    <div ng-messages="editAuthorForm.FirstName.$error">
                                        <div ng-messages-include="pages/validation/text.html"></div>
                                    </div>
                                </md-input-container>


                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Legajo</label>
                                    <input type="text" ng-model="operadorData.Legajo" name="Legajo" required />
                                    <div ng-messages="editAuthorForm.FirstName.$error">
                                        <div ng-messages-include="pages/validation/text.html"></div>
                                    </div>
                                </md-input-container>



                               



                             </div>

                        </md-content>
                    </div>

                   

                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h4 class="panel-title">Maquinas que puede Operar</h4>
                        </div>
                        <table class="table table-bordered dataTable" datatable="ng" dt-instance="dtInstance" dt-options="dtOptions">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Area</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="maquina in maquinas">
                                    <td class="capitalize"><a href="/#/blsp/maquinas/crud/{{maquina.IDMaq}}" class="title"><strong>{{maquina.Descripcion}}</strong></a></td>
                                    <td>{{maquina.PSSAreas.Descripcion}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>













                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h4 class="panel-title">Acciones</h4>
                        </div>
                        <div class="panel-body">
                            <button class="btn btn-block btn-primary" type="submit">{{SubmitButton}}</button>
                            <button class="btn btn-block btn-danger" type="button" ng-click="deleteOperador($event, operadorData.IdOperador);" ng-show="operadorData.IdOperador">Borrar Operador</button>
                            <a class="btn btn-block btn-default" ui-sref="blsp.operadores.list">Volver</a>
                        </div>
                    </div>

                   
                </div>
            </form>
        </div>  
    </div>


   


</div>
