<div ng-controller="GruposEmpaqueCRUDController">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <ol class="breadcrumb pull-right">
                    <li><a href="/#/blsp/dashboard">Home</a></li>
                    <li><a ui-sref="blsp.gruposempaque.list">Grupos Empaque</a></li>
                    <li class="active">{{PageTitle}}</li>
                </ol>
                <h1 class="page-header">{{PageTitle}}<small></small></h1>
            </div>
            <div class="col-sm-12 col-md-12">
                <div ng-model="successMessage" class="alert alert-success" role="alert" ng-show="successMessage">{{ successMessage }}</div>
                <div ng-model="errorMessage" class="alert alert-danger" role="alert" ng-show="errorMessage">{{ errorMessage }}</div>
            </div>
            <form ng-submit="editForm.$valid && processForm()" class="form-horizontal" role="form" name="editForm" novalidate>
                <div class="col-sm-12 col-md-8">
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h4 class="panel-title">Informaci&oacute;n del Grupo</h4>
                        </div>
                        <md-content layout-padding>
                            <div layout-gt-xs="row">
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Descripci&oacute;n</label>
                                    <input type="text" ng-model="grupoEmpaqueData.Descripcion" name="Descripcion" required />
                                    <div ng-messages="editForm.Descripcion.$error">
                                        <div ng-messages-include="pages/validation/text.html"></div>
                                    </div>
                                </md-input-container>
                            </div>

                            <div layout-gt-xs="row">
                                <md-input-container class="md-block" flex-gt-xs>
                                    <md-switch ng-model="grupoEmpaqueData.EtiquetaInterna"
                                               ng-change="onToggleChange('EtiquetaInterna')">
                                        Lleva etiqueta interna?
                                    </md-switch>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-xs
                                                    ng-class="{'campo-invalido': editForm.TipoEtiquetaInterna.$invalid && editForm.TipoEtiquetaInterna.$touched}">
                                    <label>Tipo etiqueta interna</label>
                                    <md-select name="TipoEtiquetaInterna"
                                               ng-if="tiposEtiqueta.length"
                                               ng-model="grupoEmpaqueData.TipoEtiquetaInterna"
                                               ng-required="grupoEmpaqueData.EtiquetaInterna"
                                               ng-disabled="!grupoEmpaqueData.EtiquetaInterna">
                                        <md-option ng-repeat="t in tiposEtiqueta track by t.Id" ng-value="t.Id">{{ t.Description }}</md-option>
                                    </md-select>                                  
                                    <div ng-messages="editForm.TipoEtiquetaInterna.$error" ng-if="editForm.TipoEtiquetaInterna.$touched">
                                        <div ng-message="required">Requerido (encendido).</div>
                                        <div ng-if="editForm.TipoEtiquetaInterna.$error.valorInvalido">Seleccione un tipo válido.</div>
                                    </div>
                                </md-input-container>
                            </div>

                            <div layout-gt-xs="row">
                                <!-- Toggle Etiqueta Externa -->
                                <md-input-container class="md-block" flex-gt-xs>
                                    <md-switch ng-model="grupoEmpaqueData.EtiquetaExterna"
                                               ng-change="onToggleChange('EtiquetaExterna')">
                                        Lleva etiqueta externa?
                                    </md-switch>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-xs
                                                    ng-class="{'campo-invalido': editForm.TipoEtiquetaExterna.$invalid && editForm.TipoEtiquetaExterna.$touched}">
                                    <label>Tipo etiqueta externa</label>
                                    <md-select name="TipoEtiquetaExterna"
                                               ng-if="tiposEtiqueta.length"
                                               ng-model="grupoEmpaqueData.TipoEtiquetaExterna"
                                               ng-required="grupoEmpaqueData.EtiquetaExterna"
                                               ng-disabled="!grupoEmpaqueData.EtiquetaExterna">
                                        <md-option ng-repeat="t in tiposEtiqueta track by t.Id" ng-value="t.Id">{{ t.Description }}</md-option>
                                    </md-select>                                 
                                    <div ng-messages="editForm.TipoEtiquetaExterna.$error" ng-if="editForm.TipoEtiquetaExterna.$touched">
                                        <div ng-message="required">Requerido (encendido).</div>
                                        <div ng-if="editForm.TipoEtiquetaExterna.$error.valorInvalido">Seleccione un tipo válido.</div>
                                    </div>
                                </md-input-container>
                            </div>

                            <div layout-gt-xs="row">
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Tipo etiqueta pallet</label>
                                    <md-select ng-model="grupoEmpaqueData.TipoEtiquetaPallet"
                                               name="TipoEtiquetaPallet"
                                               required
                                               ng-if="tiposEtiqueta.length">
                                        <md-option ng-repeat="tipo in tiposEtiqueta track by tipo.Id" ng-value="tipo.Id">{{tipo.Description}}</md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-xs>
                                    <md-switch ng-model="grupoEmpaqueData.Habilitado" aria-label="Habilitado">
                                        Habilitado
                                    </md-switch>
                                </md-input-container>
                            </div>

                        </md-content>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h4 class="panel-title">Acciones</h4>
                        </div>
                        <div class="panel-body">
                            <button class="btn btn-block btn-primary" type="submit" ng-disabled="!editForm.$valid">{{SubmitButton}}</button>
                            <button class="btn btn-block btn-danger" type="button" ng-click="deleteGrupoEmpaque($event, grupoEmpaqueData.IDGrupoEmpaque || grupoEmpaqueData.Id || grupoEmpaqueData.IdGrupoEmpaque);" ng-show="grupoEmpaqueData.IDGrupoEmpaque || grupoEmpaqueData.Id || grupoEmpaqueData.IdGrupoEmpaque">Borrar Grupo</button>
                            <a class="btn btn-block btn-default" ui-sref="blsp.gruposempaque.list">Volver</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>